body {
    background-image: url("https://media0.giphy.com/media/luMbOCx8FSR58RmmeN/giphy.gif?cid=ecf05e47w4vplaxryzyswbpexphtlgmgb2aqglvonknzbitv&rid=giphy.gif&ct=g");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    color: #b177f7;
    font-family: 'Rubik Glitch', cursive;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
}

.gameboard {
    width: 468px;
    height: 468px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #65069c;
}

.gameboard div {
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: #65069c;
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 2;
    font-weight: bold;
    border: solid 3px black;
    box-shadow: black 0px 0px 30px 10px, black 0px 0px 0px 1px inset;
}

.result {
    color: black;
    font-size: 70px;
    font-weight: bold;
    background-color: #b177f7;
    padding: 10px;
}

.scoreBox {
    font-size: 20px;
    position: relative;
    text-align: center;
    padding: 2px;
}

.triesBox {
    font-size: 20px;
    position: relative;
    text-align: center;
    padding: 2px;
}

.howto {
    width: 600px;
    height: 120px;
    background-color: #65069c;
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    height: 118px;
    color: black;
}

.start {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 400;
    background-color: #65069c;
    padding: 23px 50px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border: 0px;
    width: max-content;
    cursor: pointer;
    transition: all 0.3s 0s ease-in-out;
}

.start:hover {
    transform: scale(1.04, 1);
    background-color: #b177f7;
    text-decoration: none;
}

.reset {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 400;
    background-color: #65069c;
    padding: 23px 50px;
    margin: auto;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border: 0px;
    width: max-content;
    cursor: pointer;
    transition: all 0.3s 0s ease-in-out;
}

.reset:hover {
    transform: scale(1.04, 1);
    background-color: #b177f7;
    text-decoration: none;
}

.tiles {
    text-align: center;
    font-size: 30%;
}