body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

header {
    color: #65069c;
    font-family: 'Rubik Glitch', cursive;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
}

.gameboard {
    width: 468px;
    height: 468px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #65069c;
}

.gameboard div {
    width: 115px;
    height: 115px;
    background-color: #65069c;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    border: solid 1px black;
}

.result {
    color: #65069c;
    font-size: 20px;
}

.scoreBox {
    font-size: 20px;
    position: relative;
    text-align: center;
    padding: 2px;
}

.triesBox {
    font-size: 20px;
    position: relative;
    text-align: center;
    padding: 2px;
}

.howto {
    width: 600px;
    height: 150px;
    background-color: #65069c;
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    height: 148px;
    color: black;
}